@model Agents_Client.ViewModel.GeneralVM

@{
    ViewData["Title"] = "DetailsDashBoard";
}

<h1>DetailsDashBoard</h1>

<div>
    <h4>GeneralVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsActivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsActivate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Targets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Targets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetsElimnated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetsElimnated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Missions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Missions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsActivate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsActivate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentInTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentInTargets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentInPorposal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentInPorposal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
