@model IEnumerable<Agents_Client.ViewModel.MissionActiveVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location_X_Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location_Y_Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location_X_Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location_Y_Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLeft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_X_Agent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_Y_Agent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_X_Target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location_Y_Target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLeft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.ActionLink("ToActive", "ToActive", new { id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
